/* TODO: нужно определить цвет блоков, размеры сначала для разрешения моего экрана, затем для разных разрешений (мобильных, планшетов, моников) */
/* TODO: вынести стили в препроцессор css - scss */
.quest-game__scene-choice {
    color: black;
}

.quest-game__scene-description {
    color: yellow;
}

.quest-game__scene-choices {
    color: red;
}